<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-avatar>
      <img alt="Kosong" src="../../assets/img/foto1.jpg" />
    </ion-avatar>
    <strong> Yunita Eva Apriliyana</strong>
    <p>Mahasiswa</p>
    <p>Email : yunita.eva.apriliyana@mhs.politala.ac.id</p>
    <p>Instagram : <a
      href="https://instagram.com/yntevaaprl?igshid=NzZlODBkYWE4Ng==" > @yntevaaprl</a> </p>
  </div>
</ion-content>

  

