<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login App</ion-title>
    </ion-toolbar>
  </ion-header>

<div id="container">
  <h1><strong>Login</strong></h1>
  <ion-input label="username" labelPlacement="floating" type="text"[(ngModel)]="username" /> <br>
  <ion-input label="password" labelPlacement="floating" type="text"[(ngModel)]="password" /> <br>
  <ion-button (click)="checkLoginAuth()"> Login </ion-button>
  
</div>

</ion-content>