<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div ng-if="userRole==='admin'">
    <ion-img src="https://images.unsplash.com/photo-1503756234508-e32369269deb"></ion-img>
    </div>
    <div ng-if="userRole==='superadmin'">
      <ion-img
      src="https://docs-demo.ionic.io/assets/madison.jpg"
      ></ion-img>
      </div>
    
      <p> ini adalah sebuah gedung bernama madison building di wincousin</p>
      anda adalah {{userRole}}
  </div>

</ion-content>
